* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 2px;
    border-style: solid;
    border-color:red;
    border-width: 1px;
}
loom-container, loom-shadow{
    padding: 0px;
    background-color:none;
    border-style:none;
    border-width: 0px; /* */
}
nav, .contents{
    display: flex;
    width: 1300px;
    min-width: 760px;
    padding:0 50px;
    justify-content: space-between;
}
/* .thingy{
    display: flex;
    justify-content: center;
    background-color:black;    
}     */
/* .2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1500px;
} */

/* Multi-Use */

button {
    background-color: #3882F6;
}

/* Header */
header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 75px;
    justify-content: center;
}
#header-logo{
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
}
#header-menu{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size:18px;
    color:#E5E7EB;
}
#header-menu li{
    margin-left: 25px;
}
/* Sections */
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Section 1 */
#one{
    background-color: #1F2937;
    color: white;
}
#one .sub{
    font-size:18px;
    color:#E5E7EB;
}
.hero .title {
    font-size:48px;
    color:#F9FAF8;
    font-weight: bolder;
}
/* Section 2 */
#two{
    align-items: center;
    background-color: white;
}
#two .title {
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.row {
    display: flex;
}
/* Section 3 */
#three{
    background-color: #E5E7EB;
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.author{
    justify-content: right;
}
/* Section 4 */
#four{
    background-color: white;
}

/* Footer */
footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px;
}